#titulo{
    background-color: #e6d4d3; }
    h1 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;
            font-size: 3.5rem;
            line-height: 1.5; }
    
    .container-fluid{
     padding: 3% 15%; }
     body{
        font-family: 'Montserrat', sans-serif;
       }
       .navbar-brand{
        font-family: 'Ubuntu', sans-serif;
        font-size: 2.5rem;
        font-weight: bold;
       }
       .navbar {
        padding-bottom: 0 0 4.5rem;
       }.nav-item {
        padding: 0 18px;
       }
       .nav-link {
        font-size: 1.2rem;
        font-family: 'Montserrat-Light', sans-serif;
        font-weight: 100;
       }
       .download-button {
        margin: 5% 3% 5% 0;
       } 
       .title-image{
        width: 150%;
        transform: rotate(25deg);
       }
       #areas {
        padding: 7% 15%;
       }
       .caja-caracteristica{
        text-align: center;
        padding: 5%;
       }
       h3 {
        font-family: 'Montserrat';
        font-size: 1.5rem;
        font-weight: bold;
       
       }
       p{
        color: #776b68;
       }
       .i {
        color: #776b68;
        margin-bottom: 1rem;
       }
       #comentarios {
        padding: 7% 15%;
        text-align: center;
        background-color: #776b68;
        color: #e6d4d3;
       }
       h2{
        font-family: 'Montserrat';
        font-size: 3.0rem;
        font-weight: 900;
       }
       .img-comentarios{
        width: 10%;
        border-radius: 100%;
        margin: 20px;
       }


       .carousel-item{
        padding: 7% 15%;
       }
       #paquetes {
        padding: 100px;
        text-align: center;
       }
       .paquetes-col {
        padding: 3% 2%;
       }
       #caracteristicas {
        padding: 7% 15%;
        background-color: #e6d4d3;
        position: relative;
       }
       #cta{
        background-color: #776b68;
        color: #e6d4d3;
        padding: 7% 15%;
        text-align: center;
       }
       .encabezado-cta{
        font-family: 'Montserrat';
        font-weight: 900;
        font-size: 3.5rem;
        line-height: 1.5;
       }
       